@use './partials/vars' as *;
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/montserrat/index.css';
@import 'node_modules/@fontsource/montserrat/600.css';

body{
  font-family: $main-font;
  background-color: $primary-color;
}

h1 {
  color: white;
}