@use './partials/vars' as *;
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/montserrat/index.css';

body{
  font-family: $main-font;
  background-color: $primary-color;
}

.container {
  background-color: white;
}